@model CinemaConstructor.Models.CompanyViewModels.InfoViewModel

@{
    ViewData["Title"] = "Info";
}

<h2>@Model.Company.Name</h2>
<hr style="margin-top: 4px;" />

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Info
                </h3>
            </div>
            <div class="card-body">
                <h6 style="margin-bottom: 2px;">Phone</h6>@(Model.Company.Phone ?? "-")
                <hr style="margin-bottom: 4px; margin-top: 4px;" />
                <h6 style="margin-bottom: 2px;">Email</h6>@(Model.Company.Email ?? "-")
                <hr style="margin-bottom: 4px; margin-top: 4px;" />
                <h6 style="margin-bottom: 2px;">Instagram</h6>@(Model.Company.InstagramLink ?? "-")
                <hr style="margin-bottom: 4px; margin-top: 4px;" />
                <h6 style="margin-bottom: 2px;">Facebook</h6>@(Model.Company.FacebookLink ?? "-")
                <hr style="margin-bottom: 4px; margin-top: 4px;" />
                <h6 style="margin-bottom: 2px;">Yandex wallet</h6>@(Model.Company.YandexWallet ?? "-")
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Web application
                </h3>
            </div>
            <div class="card-body">
                <h6 style="margin-bottom: 2px;">Link</h6>
                <a href="@(Model.LinkPrefix + Model.Company.Id)" target="_blank">@(Model.LinkPrefix + Model.Company.Id)</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Design
                </h3>
            </div>
            <div class="card-body">
                <p style="color: @Model.Company.AccentColorFirst">First accent color</p>

                <p style="color: @Model.Company.AccentColorSecond">Second accent color</p>
            </div>
        </div>
    </div>
</div>
