@model FilmViewModel

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .footer:before {
        background-image: linear-gradient(90deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    separator {
        background-image: linear-gradient(90deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    .headerlogo {
        background-image: linear-gradient(90deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    .card__cover:before {
        background-image: linear-gradient(90deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    .how__number {
        background-image: linear-gradient(90deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    .section__btn {
        background-image: linear-gradient(90deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    .header__search-content button {
        background-image: linear-gradient(90deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    .mCS-custom-bar2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        background-image: linear-gradient(90deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    .card__category a {
        background-image: -webkit-linear-gradient(0deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    .card--details .card__meta a {
        background-image: -webkit-linear-gradient(0deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    .accordion__card .card-header button:before {
        background-image: -webkit-linear-gradient(0deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    .accordion__card .card-header button[aria-expanded="true"] span:first-child {
        color: @Model.Company.AccentColorFirst !important;
    }
    .footer__list a:hover {
        color: @Model.Company.AccentColorFirst !important;
    }
    .header__nav-link:hover {
        color: @Model.Company.AccentColorFirst !important;
    }
    .accordion__card .card-header button:hover span:first-child {
        color: @Model.Company.AccentColorFirst !important;
    }
    .buy {
        color: @Model.Company.AccentColorFirst !important;
    }
    .buy:hover {
        color: @Model.Company.AccentColorSecond !important;
    }
</style>

<section class="section details">
    <div class="details__bg" data-bg="img/home/home__bg.jpg"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="details__title">@Model.Film.Title</h1>
            </div>
            <div class="col-12 col-xl-6">
                <div class="card card--details">
                    <div class="row">
                        <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-5">
                            <div class="card__cover">
                                <img src="@Model.Poster" alt="">
                            </div>
                        </div>
                        <div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-7">
                            <div class="card__content">

                                <ul class="card__meta">
                                    <li><span>Genre:</span><a href="#"> @Model.Film.Genre</a></li>
                                    <li><span>Release date:</span> @(Model.Film.ReleaseDate.ToString("MM\\/dd\\/yyyy"))</li>
                                    <li><span>Duration:</span> @Model.Film.Duration.ToString(@"hh\:mm")</li>
                                </ul>

                                <div class="card__description card__description--details">
                                    @Model.Film.Description
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6">
                <iframe style="height: 95%; width: 95%; border: none" src="@(Model.Film.TrailerUrl.Replace("watch?v=", "embed/"))">
                </iframe>
            </div>
            <div class="col-12" style="margin-top: 20px;">
                <div class="accordion" id="accordion">
                    @foreach (var group in Model.GroupedSessions)
                    {
                        var sessions = group.ToList().OrderBy(p => p.StartTime);
                        <div class="accordion__card">
                            <div class="card-header" id="headingOne">
                                <button type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span>@group.Key</span>
                                    <span>Available sessions</span>
                                </button>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <table class="accordion__list">
                                        <thead>
                                            <tr>
                                                <th>Start time</th>
                                                <th>Hall</th>
                                                <th>3D</th>
                                                <th>IMAX</th>
                                                <th>Price, ₽</th>
                                                <th></th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (var session in sessions)
                                            {
                                            <tr>
                                                <th>@session.StartTime.ToString("MM\\/dd\\/yyyy HH\\:mm")</th>
                                                <td>@session.Hall.Name</td>
                                                <td>@(session.Hall.Is3D ? "Yes" : "No")</td>
                                                <td>@(session.Hall.IsImax ? "Yes" : "No")</td>
                                                <td>@session.Price</td>
                                                <td><a href="/Booking?companyId=@(Model.Company.Id)&filmSessionId=@(session.Id)" class="buy">Book</a></td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<separator></separator>

<section class="section section--dark">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section__title section__title--no-margin">How it works?</h2>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="how">
                    <span class="how__number">01</span>
                    <h3 class="how__title">Choose a movie</h3>
                    <p class="how__text">In our cinema you can watch any world premiere on the day of release. The list of films is available in the "NOW" section.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="how">
                    <span class="how__number">02</span>
                    <h3 class="how__title">Buy a ticket</h3>
                    <p class="how__text">Choose a place and pay for your ticket online using the payment method convenient for you.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="how">
                    <span class="how__number">03</span>
                    <h3 class="how__title">Enjoy movie</h3>
                    <p class="how__text">Just show the ticket code to the controller before entering the hall.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<separator></separator>

<section class="section section--bg" data-bg="img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section__title">Expected premiere</h2>
            </div>
            @foreach (var film in Model.UpcomingFilms)
            {
                <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                    <div class="card">
                        <a href="/Film?companyId=@(Model.Company.Id)&filmId=@(film.Id)">
                            <div class="card__cover">
                                <img src="@Model.Posters[film.Id]" alt="">
                            </div>
                        </a>
                        <div class="card__content">
                            <h3 class="card__title"><a href="/Film?companyId=@(Model.Company.Id)&filmId=@(film.Id)">@film.Title</a></h3>
                            <span class="card__category">
                                <a href="#">@film.Genre</a>
                            </span>
                        </div>
                    </div>
                </div>
            }
            <div class="col-12">
                <a href="#" class="section__btn">Show more</a>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script>
        document.getElementById("headerLogoSpan").innerHTML = "@(Model.Company.Name)";

        document.getElementById("headerHome").href = "/?companyId=@(Model.Company.Id)";
        document.getElementById("headerLogo").href = "/?companyId=@(Model.Company.Id)";

        document.getElementById("footerPhone").href = "tel:@(Model.Company.Phone)";
        document.getElementById("footerPhone").innerHTML = "@(Model.Company.Phone)";
        document.getElementById("footerEmail").href = "mailto:@(Model.Company.Email)";
        document.getElementById("footerEmail").innerHTML = "@(Model.Company.Email)";

        document.getElementById("footerFacebook").href = "@(Model.Company.FacebookLink)";
        document.getElementById("footerInstagram").href = "@(Model.Company.InstagramLink)";
    </script>
}
