@model BookingViewModel

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .footer:before {
        background-image: linear-gradient(90deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    separator {
        background-image: linear-gradient(90deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    .headerlogo {
        background-image: linear-gradient(90deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    .card__cover:before {
        background-image: linear-gradient(90deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    .how__number {
        background-image: linear-gradient(90deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    .section__btn {
        background-image: linear-gradient(90deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    .header__search-content button {
        background-image: linear-gradient(90deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    .mCS-custom-bar2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        background-image: linear-gradient(90deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    .card__category a {
        background-image: -webkit-linear-gradient(0deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    .card--details .card__meta a {
        background-image: -webkit-linear-gradient(0deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    .accordion__card .card-header button:before {
        background-image: -webkit-linear-gradient(0deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    .accordion__card .card-header button[aria-expanded="true"] span:first-child {
        color: @Model.Company.AccentColorFirst !important;
    }
    .footer__list a:hover {
        color: @Model.Company.AccentColorFirst !important;
    }
    .header__nav-link:hover {
        color: @Model.Company.AccentColorFirst !important;
    }
    .accordion__card .card-header button:hover span:first-child {
        color: @Model.Company.AccentColorFirst !important;
    }
    .selected {
        background: @Model.Company.AccentColorFirst !important;
    }
</style>

<section class="section details">
    <div class="details__bg" data-bg="img/home/home__bg.jpg"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="details__title">I Dream in Another Language</h1>
            </div>
            <div class="col-10">
                <div class="card card--details card--series">
                    <div class="row">
                        <div class="col-12 col-sm-3 col-md-3 col-lg-2 col-xl-2" style="padding-right: 10px; padding-left: 10px;">
                            <div class="card__cover">
                                <img src="img/covers/cover.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-12 col-sm-9 col-md-9 col-lg-10 col-xl-10">
                            <div class="card__content">
                                <ul style="margin-top: 0;" class="card__meta">
                                    <li><span>Cinema:</span> @Model.FilmSession.Hall.Cinema.Name</li>
                                    <li><span>Address:</span> @Model.FilmSession.Hall.Cinema.Address</li>
                                    <li><span>Hall:</span> @Model.FilmSession.Hall.Name</li>
                                    <li><span>3D:</span> @(Model.FilmSession.Hall.Is3D ? "Yes" : "No")</li>
                                    <li><span>IMAX:</span> @(Model.FilmSession.Hall.IsImax ? "Yes" : "No")</li>
                                    <li><span>Date:</span> @(Model.FilmSession.StartTime.ToString("MM\\/dd\\/yyyy"))</li>
                                    <li><span>Start:</span> @(Model.FilmSession.StartTime.ToString("HH\\:mm"))</li>
                                    <li><span>End:</span> @(Model.FilmSession.EndTime.ToString("HH\\:mm"))</li>
                                    <li><span>Price, ₽:</span><a href="#"> @Model.FilmSession.Price</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" style="margin-top: 20px;">
                <div class="accordion" id="accordion">
                    <h3 class="card__title">Select places</h3>
                    <separator2></separator2>
                    <div class="screen">Screen</div>
                    <div>
                        <table style="height: 400px; width: 100%">
                            @for (var i = 0; i < Model.FilmSession.Hall.Rows; i++)
                            {
                                <tr>
                                    @for (var j = 0; j < Model.FilmSession.Hall.Columns; j++)
                                    {
                                        <td align="center" style="width: calc(100% / @Model.FilmSession.Hall.Columns); height: calc(100% / @Model.FilmSession.Hall.Rows);">
                                            <div id="@(i + "_" + j)" class="place" onclick="selectPlace('@i', '@j')"></div>
                                        </td>
                                    }
                                </tr>
                            }
                        </table>
                    </div>
                    <separator2 style="margin-top: 15px; margin-bottom: 15px;"></separator2>
                    <form>
                        <div class="row">
                            <div class="col-6">
                                <div class="booking__group">
                                    <input type="text" class="booking__input" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="booking__group">
                                    <input type="text" class="booking__input" placeholder="Phone">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="booking__group">
                                    <input id="totalCostInput" type="text" class="booking__input" readonly value="Total cost, ₽: 0">
                                </div>
                            </div>
                            <div class="col-6">
                                <a href="#" class="section__btn" style="width: 95%; margin-left: 0; margin-top: 0;">Pay</a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</section>

@section scripts {
    <script>
        document.getElementById("headerLogoSpan").innerHTML = "@(Model.Company.Name)";

        document.getElementById("headerHome").href = "/?companyId=@(Model.Company.Id)";
        document.getElementById("headerLogo").href = "/?companyId=@(Model.Company.Id)";

        document.getElementById("footerPhone").href = "tel:@(Model.Company.Phone)";
        document.getElementById("footerPhone").innerHTML = "@(Model.Company.Phone)";
        document.getElementById("footerEmail").href = "mailto:@(Model.Company.Email)";
        document.getElementById("footerEmail").innerHTML = "@(Model.Company.Email)";

        document.getElementById("footerFacebook").href = "@(Model.Company.FacebookLink)";
        document.getElementById("footerInstagram").href = "@(Model.Company.InstagramLink)";

        totalCost = 0;

        function selectPlace(i, j) {
            var place = document.getElementById(i + "_" + j);
            var totalCostInput = document.getElementById("totalCostInput");

            if (place.classList.contains("selected")) {
                place.classList.remove("selected");
                totalCost = totalCost - @(Model.FilmSession.Price);

            } else {
                place.classList.add("selected");
                totalCost = totalCost + @(Model.FilmSession.Price);
            }

            totalCostInput.value = "Total cost, ₽: " + totalCost;
        }

        rows = @Model.FilmSession.Hall.Rows;
        columns = @Model.FilmSession.Hall.Columns;
        var hallTable = JSON.parse("@Model.FilmSession.Hall.HallTableJson");
        for (var i = 0; i < rows; i++) {
            var trArray = [];
            for (var j = 0; j < columns; j++) {
                var place = document.getElementById(i + "_" + j);
                if (hallTable[i][j]) {
                    place.classList.add("available");
                }
            }
        }
    </script>
}