@model BookingInfoViewModel

@{
    ViewData["Title"] = "Booking info";
}

<style>
    .footer:before {
        background-image: linear-gradient(90deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    separator {
        background-image: linear-gradient(90deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    .headerlogo {
        background-image: linear-gradient(90deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    .card__cover:before {
        background-image: linear-gradient(90deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    .how__number {
        background-image: linear-gradient(90deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    .section__btn {
        background-image: linear-gradient(90deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    .header__search-content button {
        background-image: linear-gradient(90deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    .mCS-custom-bar2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        background-image: linear-gradient(90deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    .card__category a {
        background-image: -webkit-linear-gradient(0deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    .card--details .card__meta a {
        background-image: -webkit-linear-gradient(0deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    .accordion__card .card-header button:before {
        background-image: -webkit-linear-gradient(0deg, @Model.Company.AccentColorFirst 0%, @Model.Company.AccentColorSecond 100%) !important;
    }
    .accordion__card .card-header button[aria-expanded="true"] span:first-child {
        color: @Model.Company.AccentColorFirst !important;
    }
    .footer__list a:hover {
        color: @Model.Company.AccentColorFirst !important;
    }
    .header__nav-link:hover {
        color: @Model.Company.AccentColorFirst !important;
    }
    .accordion__card .card-header button:hover span:first-child {
        color: @Model.Company.AccentColorFirst !important;
    }
    .selected {
        background: @Model.Company.AccentColorFirst !important;
    }
</style>

<section class="section details">
    <div class="details__bg" data-bg="img/home/home__bg.jpg"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="details__title">@Model.Film.Title</h1>
            </div>
            <div class="col-10">
                <div class="card card--details card--series">
                    <div class="row">
                        <div class="col-12 col-sm-3 col-md-3 col-lg-2 col-xl-2" style="padding-right: 10px; padding-left: 10px;">
                            <div class="card__cover">
                                <img src="@Model.Poster" alt="">
                            </div>
                        </div>
                        <div class="col-12 col-sm-9 col-md-9 col-lg-10 col-xl-10">
                            <div class="card__content">
                                <ul style="margin-top: 0;" class="card__meta">
                                    <li><span>Cinema:</span> @Model.FilmSession.Hall.Cinema.Name</li>
                                    <li><span>Address:</span> @Model.FilmSession.Hall.Cinema.Address</li>
                                    <li><span>Hall:</span> @Model.FilmSession.Hall.Name</li>
                                    <li><span>3D:</span> @(Model.FilmSession.Hall.Is3D ? "Yes" : "No")</li>
                                    <li><span>IMAX:</span> @(Model.FilmSession.Hall.IsImax ? "Yes" : "No")</li>
                                    <li><span>Date:</span> @(Model.FilmSession.StartTime.ToString("MM\\/dd\\/yyyy"))</li>
                                    <li><span>Start:</span> @(Model.FilmSession.StartTime.ToString("HH\\:mm"))</li>
                                    <li><span>End:</span> @(Model.FilmSession.EndTime.ToString("HH\\:mm"))</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" style="margin-top: 20px; text-align: center;">
                <h2 class="section__title section__title--no-margin" style="margin-bottom: 0;">Your confirmation code</h2>
                <h2 class="section__title section__title--no-margin">@Model.ConfirmationCode</h2>
            </div>
        </div>
    </div>
</section>

<separator></separator>

<section class="section section--dark">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section__title section__title--no-margin">How it works?</h2>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="how">
                    <span class="how__number">01</span>
                    <h3 class="how__title">Choose a movie</h3>
                    <p class="how__text">In our cinema you can watch any world premiere on the day of release. The list of films is available in the "NOW" section.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="how">
                    <span class="how__number">02</span>
                    <h3 class="how__title">Buy a ticket</h3>
                    <p class="how__text">Choose a place and pay for your ticket online using the payment method convenient for you.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="how">
                    <span class="how__number">03</span>
                    <h3 class="how__title">Enjoy movie</h3>
                    <p class="how__text">Just show the ticket code to the controller before entering the hall.</p>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script>
        document.getElementById("headerLogoSpan").innerHTML = "@(Model.Company.Name)";

        document.getElementById("headerHome").href = "/?companyId=@(Model.Company.Id)";
        document.getElementById("headerLogo").href = "/?companyId=@(Model.Company.Id)";

        document.getElementById("footerPhone").href = "tel:@(Model.Company.Phone)";
        document.getElementById("footerPhone").innerHTML = "@(Model.Company.Phone)";
        document.getElementById("footerEmail").href = "mailto:@(Model.Company.Email)";
        document.getElementById("footerEmail").innerHTML = "@(Model.Company.Email)";

        document.getElementById("footerFacebook").href = "@(Model.Company.FacebookLink)";
        document.getElementById("footerInstagram").href = "@(Model.Company.InstagramLink)";
    </script>
}